<p id="notice"><%= notice %></p>
<div class="container">
<h1>Vista de productos</h1>
<div class="row">

<% @productos.each do |producto| %>

  <div class="col-md-4">
    <div class="thumbnail" :background:#000>
    <%= producto.descripcion %><br>
    <%= producto.fecha %>
    <!--<%= image_tag producto.image.url(:medium) %>!-->
    <%= image_tag producto.image ,:class => 'img-responsive' %>
    <div class="butoons" style="margin-top: 10px;margin-bottom:5px" >
    <%= link_to 'ver', producto ,:class => 'btn' %>
    <%= link_to 'Editar', edit_producto_path(producto),:class => 'btn'  %>
    <%= link_to 'Eliminar', producto, method: :delete, data: { confirm: 'Estas seguro que deseas eliminar?' } ,:class => 'btn' %>
    </div>  
    </div>
  </div>
<% end %>
</div>  


<br>

<%= link_to 'Agrega Nuevo Producto', new_producto_path %>
</div>